[submodule "asset_pipeline"]
	path = asset_pipeline
	url = git@github.com:tonipes/asset_pipeline.git
[submodule "thirdparty/bx"]
	path = thirdparty/bx
	url = git://github.com/bkaradzic/bx.git
[submodule "thirdparty/bimg"]
	path = thirdparty/bimg
	url = git://github.com/bkaradzic/bimg.git
[submodule "thirdparty/bgfx"]
	path = thirdparty/bgfx
	url = git://github.com/bkaradzic/bgfx.git
