# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
#*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
/build
/docs
/dist

# General
.DS_Store
*~

# Python
__pycache__/
*.py[cod]
*$py.class

# Meson
/subprojects/*
!/subprojects/*.wrap

# Blends
*.blend1

# virtualenv
.venv
venv

# vscode
# .vscode
.vscode-build

# valgrind core
vgcore.* 

# sourcetrail
sourcetrail

# tmp
/tmp/*
/tmp*

!/libraries/**/*.a
!/bin/**/*.exe

/bin/current

/bin

.vscode
*.sublime-*